<div class="login-page">
    <div class="form">
      <div class="login">
        <div class="login-header">
          <h3>Login</h3>
          <p>Informe suas credências para logar.</p>
        </div>
      </div>
        <span style=" font-size: 16px; color: #e74c3c; margin-bottom: 26px;">{{loginFailMessage}}</span>
        <input autofocus [(ngModel)]="email" type="text" placeholder="E-mail"/>
        <input type="password" [(ngModel)]="password" placeholder="Senha"/>
        <button (click)="login()">login</button>
    </div>
  </div>