<div class="login-page">
    <div class="form">
      <div class="login">
        <div class="login-header">
          <h3>Login</h3>
          <p>Informe suas credências para logar.</p>
        </div>
      </div>
      <form class="login-form">
        <input autofocus type="email" placeholder="E-mail"/>
        <input type="password" placeholder="Senha"/>
        <button>login</button>
        <p class="message">Não tem conta criada? <a href="#">Crie sua conta agora</a></p>
      </form>
    </div>
  </div>